<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>web</title>
  <link href="/static/web/dist/app.6186046.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/static/web/dist/manifest.a94e713.js"></script><script type="text/javascript" src="/static/web/dist/vendor.4e1424e.js"></script><script type="text/javascript" src="/static/web/dist/app.791230a.js"></script></body>
</html>
